= form_for :session, url: session_path do |form|
  = form.label :email
  = form.email_field :email

  = form.label :password
  = form.password_field :password

  = form.submit

  = link_to t(".sign_up"), sign_up_path
  = link_to t(".forgot_password"), new_password_path
