.flex.items-center.justify-between
  .flex-1
    = link_to icon_for(:utensils, variant: :solid), root_path, class: 'text-gray-600 hover:text-gray-800'
  %nav.flex.gap-x-10.text-sm.font-semibold
    = link_to 'Dashboard', '#', class: 'text-gray-600 hover:text-gray-800'
    = link_to 'Discover',   '#', class: 'text-gray-600 hover:text-gray-800'
    = link_to 'Search',    '#', class: 'text-gray-600 hover:text-gray-800'
  .flex.flex-1.items-center.justify-end.gap-x-8
    = link_to icon_for(:bell), '#', class: 'text-gray-600 hover:text-gray-800'
    = link_to icon_for(:circle_user), '#', class: 'text-gray-600 hover:text-gray-800'
