= content_for :title do
  Sign up for an account

= form_for :user, url: users_path do |form|
  = form.label :email
  = form.text_field :email

  = form.label :password
  = form.password_field :password

  .mt-8
    = form.submit 'Sign up'

%p.mt-10.text-center.text-sm.text-gray-500
  Already have an account?
  = link_to 'Sign in now', sign_in_path, class: 'font-semibold leading-6 text-indigo-600 hover:text-indigo-500'
