= content_for :title do
  Sign up for an account

= form_for :user, url: users_path, class: 'flex flex-col gap-y-2' do |form|
  .form-group
    = form.label :email
    = form.text_field :email

  .form-group
    = form.label :password
    = form.password_field :password

  .form-group
    = form.submit 'Sign up'

  %p.text-center.text-sm.muted
    Already have an account? #{link_to 'Sign in now', sign_in_path}
