.hidden.relative.z-10{"aria-labelledby" => "modal-title", "aria-modal" => "true", "data-controller" => "modal", role: "dialog"}
  .fixed.inset-0.bg-gray-500.bg-opacity-75.transition-opacity
  .fixed.inset-0.z-10.w-screen.overflow-y-auto{"data-modal-target" => "backdrop"}
    .flex.min-h-full.items-end.justify-center.p-4.text-center.sm:items-center.sm:p-0
      .relative.transform.overflow-hidden.rounded-lg.bg-white.px-4.pb-4.pt-5.text-left.shadow-xl.transition-all.sm:my-8.sm:p-6{"data-modal-target" => "panel"}

        = form_for Plan.new do |form|
          .mx-auto.flex.h-12.w-12.text-green-600.items-center.justify-center.rounded-full.bg-green-100
            = icon_for(:utensils, variant: :solid)

          .mt-2.text-center.sm:mt-5
            %h3#modal-title.text-base.font-semibold.leading-6.text-gray-900 Create a plan

            = form.label :name
            = form.text_field :name

          .mt-5.sm:mt-6
            = form.submit 'Save Plan'

        .absolute.right-0.top-0.py-2.pr-4
          %button.text-gray-400{"data-action" => "click->modal#close"}= icon_for :xmark, variant: :solid
