%footer.mx-auto.mt-32.w-full.max-w-container.muted.border-t.border-gray-200.text-center.text-sm.py-10
  .mb-8.flex.gap-2.justify-center= render 'layouts/brand'
  .hover-links.flex.items-center.justify-center.space-x-4.leading-8
    = link_to 'Source Code',    source_code_path, target: :_blank
    .divider
    = link_to 'Support',        support_path, target: :_blank
    .divider
    = link_to 'Privacy Policy', privacy_policy_path
    .divider
    = link_to 'Changelog',      changelog_path, target: :_blank
