!!!
%html
  = render 'layouts/head'
  %body
    %main.container.mx-auto.max-w-6xl
      = render 'layouts/header'
      .mx-auto.text-center.mb-8= render 'layouts/flash'
      .page-header= yield :page_header
      .grid.grid-cols-4.gap-8
        - if feed_enabled?
          .col-span-3= yield
          .col-span-1= render 'layouts/feed'
        - else
          .col-span-4= yield
      = render 'layouts/footer'
