= form_for account_request do |form|
  = form.label :email_address do
    Email: #{form.text_field :email_address}

  = form.label :note do
    Note: #{form.text_area :note}

  = form.submit "Submit"
